*{
  margin: 0px;
  text-decoration: none;
  list-style: none;
}


.imageRecette {
width: 150px;
}

.containerHaider{
    display:flex;
    justify-content:flex-end;
   
  background-color: rgb(235, 252, 159);
  padding: 20px};

